.chsdk-list-box {
  display: block;
  width: 290px;
  height: 700px;
}

.list-container {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.list-title {
  display: block;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px
}

.list-search-box {
  height: 26px;
  width: 190px;
  margin-left: 15px;
  padding-left: 10px;
  border: 1px solid silver;
  border-radius: 3px;
}

.vertical-line-separator {
  display: inline-block;
  height: 28px;
  font-size: 24px;
  margin: 0px 1px;
  color: silver;
}

.new-item-button {
  display: inline-block;
  margin-top: 1px;
  background-color: #fdfdfd;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.hidden{
	display:none !important;
}

.new-item-button:hover, .new-item-button:active {
	background-color:gray;
	color: white;
	border: 1px solid white;
}

.plus-sign {
  background-color: #0f5c9d;
  color: #fff;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 12px;
}

.items-container {
  width: 270px;
  height: 580px;
  margin: 10px 0px 10px 15px;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 6px;
}

.items-container .list-item {
  display: block;
  height: 25px;
  padding: 2px;
  line-height: 25px;
  cursor:pointer;
}



.items-container .list-item:nth-child(even) {
  background-color: #f8f8f8;
}

.items-container .list-item.selected {
  background-color: #0066FF;
  color: white;
}

.remove-item-button {
  display: inline-block;
  margin-top: 1px;
  background-color: #fdfdfd;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  float: right;
}

.remove-item-button:hover, .remove-item-button:active {
	background-color:gray;
	color: white;
	border: 1px solid white;
}

.cross-sign {
  background-color: #0f5c9d;
  color: #fff;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 12px;
  font-family: sans-serif;
}
